@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;

}
body {
    font-family: 'Roboto', sans-serif;
}
div.header {
    display: flex;
    padding: 1em 13em;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
}
div.header div.right {
    display: flex;
    align-items: center;
    gap: 1.5em;
    font-size: 105%;
}
div.first {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 110px 0px;
    color: #F9FAF8;
}
div.first div.left h1{
    font-size: 48px;
    font-weight: extra-bold;
}
div.first div.left {
    width: 500px;
}
#first-sign-up {
    background-color: #3882F6;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}
div.first div.right img {
    width: 500px; 
    height: auto;
}
div.second {
    width: 50%;
    display: flex;
    margin: auto;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: 600px;
    color: #1F2937;
}
div.second h2{
    font-size: 36px;
    font-weight: bolder;
}
div.second div.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}
div.second div.card-container img{
    width: 200px; 
    height: auto;
}
div.second div.card-container figcaption {
    font-size: 15px;
}
div.second div.image-item {
    text-align: center;
}
